<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque minima animi illum perspiciatis id molestias, veritatis nulla excepturi dolorum ex quo eaque obcaecati in facere, eligendi ad suscipit, necessitatibus quia?</p>

<%- include("footer") -%>
